<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c13848a8-c119-49d4-8062-eca793e3058f/resourcegroups/pucminas-asd-pias-rg/providers/Microsoft.Web/sites/CampeonatoBrasileiroAPI</ResourceId>
    <ResourceGroup>pucminas-asd-pias-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/c13848a8-c119-49d4-8062-eca793e3058f/resourceGroups/pucminas-asd-pias-rg/providers/Microsoft.ApiManagement/service/CampeonatoBrasileiroAPI/apis/CampeonatoBrasileiroAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://campeonatobrasileiroapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d15d2d99-1da0-4028-8bfb-fcf313006c66</ProjectGuid>
    <MSDeployServiceURL>campeonatobrasileiroapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CampeonatoBrasileiroAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$CampeonatoBrasileiroAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>